/* HomePage.css */

/* Style général pour la section principale */
.Homepage {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: #fff;
}

/* Vidéo de fond */
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Superposition pour obscurcir légèrement la vidéo */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Contenu principal */
.homeContent {
  position: relative;
  z-index: 2;
  text-align: center;
  transform: translateY(-20%);
}

.textDiv {
  margin-bottom: 30px;
}

.christmas-title {
  font-size: 2.5rem;
  color: #f9d342;
  margin-top: 20px;
}

/* Section formulaire */
.car-div {
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  padding: 2px 20px; /* Réduit le padding pour limiter l'espace interne */
  margin: 50px auto; /* Augmente la marge au-dessus */
  max-width: 300px; /* Définit une largeur maximale */
  min-height: 100px; /* Définit une hauteur minimale */
  border-radius: px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 100px
}

.car-div h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.8rem;
  color: #fff;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 8px;
  color: #ccc;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

.input-group input:focus {
  border-color: #4289d5;
  box-shadow: 0 0 8px rgba(66, 137, 213, 0.5);
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #4289d5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #78ade6;
}

/* Suggestions */
.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
  position: absolute;
  width: 93.7%;
  z-index: 10;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  color: #333;
}

.suggestions-list li:hover {
  background-color: #f1f1f1;
}

/* Liste des résultats */
h2 {
  text-align: center;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background: #606a98;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
  color: #fff;
}
